<section id="app">
    <header>
        <h1>{{#link-to 'con4'}}Connect 4{{/link-to}}</h1>
    </header>
    <article>
        {{outlet}}
    </article>
    <footer>
        <div class="float-left">
            | by Jonny Mars
        </div>
        <div class="float-right">
            created using <a href="https://www.emberjs.com/">Ember</a> |
        </div>
    </footer>
</section>
